name: CI

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install
        run: npm ci

      - name: Prettier check
        run: npm run format:check

      - name: ESLint
        run: npm run lint

      - name: Tests (CI)
        run: npm run test:ci

      - name: Build (production)
        run: npm run build
